#climateCharts {
    width: 80%; 
    height: 300px; 
    margin: 0 auto;
}

#dateIntervalInput {
    width: 50%; 
    margin: 0 auto;
}

#compClimateCharts {
    width: 80%; 
    height: 300px; 
    margin: 0 auto;
}

#compDateIntervalInput {
    width: 40%; 
    margin: 0 auto;
}

#compHeadline {
    text-align: center;
}

#chartHeadline {
    text-align: center;
}

#chartSelector {
    display: block;  
    margin: 0 auto;  
    width: max-content; 
}



