#mapAndLegend {
    display: flex;
    align-items: flex-start;
    width: 92%;
    margin: 0 auto;
}

#select_geodata {
    width: 92%;
    margin: 0 auto;
}

#measurePoints {
    flex-grow: 1;
}

#legend {
    flex-shrink: 0;
}


