#outputContainerLocation {
    border: 1px solid #ccc; /* Dünne Linie für den Rahmen */
    padding: 10px;
    text-align: center; /* Zentriert die Überschrift */
    max-width: 600px; /* Oder eine andere angemessene Breite */
    margin-right: 0; /* Setzt den linken Rand auf 0 und verschiebt somit den Container nach links */
}

#outputContentLocation  {
    display: flex;
    justify-content: space-between; /* Passt den Abstand zwischen den Containern an */
    flex-wrap: wrap; /* Erlaubt das Umfließen der Elemente */
}

#leftOutputLocation , #rightOutputLocation  {
    flex: 1;
    padding: 10px;
    margin-right: 10px; /* Fügt einen rechten Rand hinzu, um die Container näher zusammenzubringen */
}

h3 {
    width: 100%; /* Stellt sicher, dass die Überschrift die volle Breite einnimmt */
}

